<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-header">
                <img src="@Url.Content("~/Images/brand/header.png")"/>
            </a>
            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">@Html.ActionLink("FOTOGRAFIAS", "Images", "Home")</li>
                <li>@Html.ActionLink("SERVICIOS", "Services", "Home")</li>
                <li>@Html.ActionLink("CONTACTO", "Contact", "Home")</li>
                <li>@Html.ActionLink("PROMOCIONES", "Features", "Home", new { @class = "highlighted" })</li>
            </ul>
        </div>
    </div>
</div>
