@model Esthetic.Models.HomeModel

<section>
    <div class="jumbotron" id="main-jumbotron" style="background-image:url('@Url.Action("../images/", null, null, Request.Url.Scheme)@EnumConst.CoverImageName?v=1234')">
        <h1>@Model.CoverMainText</h1>
        <div class="main-description">
            <h3>@Model.CoverDescriptionText</h3>
            <div class="social-media-container">
                @if (!String.IsNullOrEmpty(Model.FacebookFanpage) && !String.IsNullOrWhiteSpace(Model.FacebookFanpage))
            {
                    <a class="social-media-wrapper facebook" href="@Model.FacebookFanpage" target="_blank">
                        Facebook
                    </a>
                }

                @if (!String.IsNullOrEmpty(Model.FacebookFanpageAlternative) && !String.IsNullOrWhiteSpace(Model.FacebookFanpageAlternative))
            {
                    <a class="social-media-wrapper facebook" href="@Model.FacebookFanpageAlternative" target="_blank">
                        Facebook
                    </a>
                }

                @if (!String.IsNullOrEmpty(Model.InstagramUser) && !String.IsNullOrWhiteSpace(Model.InstagramUser))
            {
                    <a class="social-media-wrapper instagram" href="@Model.InstagramUser" target="_blank">
                        Instagram
                    </a>
                }

                @if (!String.IsNullOrEmpty(Model.InstagramUserAlternative) && !String.IsNullOrWhiteSpace(Model.InstagramUserAlternative))
            {
                    <a class="social-media-wrapper instagram" href="@Model.InstagramUserAlternative" target="_blank">
                        Instagram
                    </a>
                }
            </div>
        </div>
    </div>
</section>
@if (Model.ShowCoverGallery)
{
    <section>
        @if (Model.Images.Count == 0)
                {
            <p class="img-not-found">No se han encontrado imágenes.</p>
        }
        else
        {
            <div class="images-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                @foreach (Image image in Model.Images)
                {
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a class="gallery-item" href="@Url.Action("../images/", null, null, Request.Url.Scheme)@image.Id" itemprop="contentUrl" data-size="@image.Width.ToString() x @image.Height.ToString()">
                            <img src="@Url.Action("../images/thumbnail/", null, null, Request.Url.Scheme)@image.Id" itemprop="thumbnail" alt="Image description" />

                            @if ((!string.IsNullOrEmpty(image.Title)) || (!string.IsNullOrEmpty(image.Description)))
                            {
                                <div class="img-gallery-item-desc">
                                    @if (!string.IsNullOrEmpty(image.Title))
                                    {
                                        <p><strong>@image.Title </strong></p>
                                    }
                                    @if (!string.IsNullOrEmpty(image.Description))
                                    {
                                        <p>@image.Description</p>
                                    }
                                </div>
                            }
                        </a>
                    </figure>
                }
            </div>
        }

        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

            <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>

            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">

                <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar">

                        <!--  Controls are self-explanatory. Order can be changed. -->

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Cerrar (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Compartir"></button>

                        <button class="pswp__button pswp__button--fs" title="Pantalla completa"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom +/-"></button>

                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Anterior (flecha-izquierda)"></button>

                    <button class="pswp__button pswp__button--arrow--right" title="Siguiente (flecha-derecha)"></button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>

                </div>

            </div>

        </div>

    </section>
}