@model Esthetic.Models.AdminModel

<div class="categories-list" id="category_@Model.Category.Id">
@using (Ajax.BeginForm("UpdateCategory", "Admin", new { id = Model.Category.Id }, new AjaxOptions
{
    InsertionMode = InsertionMode.ReplaceWith,
    HttpMethod = "POST",
    UpdateTargetId = "category_" + Model.Category.Id,
    OnSuccess = "setCategoryButtons"
}, null))
{
    <div>
        <span class="btn btn-link edit-category-btn pull-right">Editar</span>
        <span>
            <strong>@Model.Category.Name</strong>
            @if (@Model.Category.Parent != null)
            {
                <strong>(@Model.Category.Parent.Name)</strong>
            }
        </span>
        <p>@Model.Category.Description</p>
    </div>
    <div class="row display-none edit-form">
        <div>
            @Html.LabelFor(model => Model.EditCategoryName)
            @Html.EditorFor(model => Model.EditCategoryName, new { htmlAttributes = new { @class = "form-control", @Value = Model.Category.Name } })

            @Html.LabelFor(model => Model.EditCategoryDescription)
            @Html.TextArea("EditCategoryDescription", @Model.Category.Description, new { @class = "form-control" })

            @Html.LabelFor(model => Model.CategorySelected)
            @if (Model.Category.Parent != null)
            {
                @Html.DropDownListFor(model => model.CategorySelected, new SelectList(Model.Categories.Where(c => c.Id != Model.Category.Id), "Id", "Name"), "Ninguna", new { @class = "form-control", id = "cat-sel-" + Model.Category.Id })
                <script>
                    var func = (function () { document.getElementById('cat-sel-@Model.Category.Id').value = "@Model.Category.Parent.Id"; })();
                </script>
            }
            else
            {
                @Html.DropDownListFor(model => model.CategorySelected, new SelectList(Model.Categories.Where(c => c.Id != Model.Category.Id), "Id", "Name"), "Elegir categoría...", new { @class = "form-control" })
            }
        </div>

        <span class="btn btn-link cancel-edit-category">Cancelar</span>
        <input type="submit" class="btn btn-link" value="Guardar cambios" />
        <span id="@Model.Category.Id" class="btn btn-sm btn-danger delete-category">Eliminar</span>
    </div>
}
</div>