@model Esthetic.Models.AdminModel

<div class="categories-list" id="servicetype_@Model.ServiceType.Id">
    @using (Ajax.BeginForm("UpdateServiceType", "Admin", new { id = Model.ServiceType.Id }, new AjaxOptions
    {
        InsertionMode = InsertionMode.ReplaceWith,
        HttpMethod = "POST",
        UpdateTargetId = "servicetype_" + Model.ServiceType.Id,
        OnSuccess = "setServicesTypeButtons"
    }, null))
    {
        <div>
            <span class="btn btn-link edit-service-type-btn pull-right">Editar</span>
            <span>
                <strong>@Model.ServiceType.Name</strong>
            </span>
            <p>@Model.ServiceType.Description</p>
        </div>
        <div class="row display-none edit-form">
            <div>
                @Html.LabelFor(model => Model.EditServiceName)
                @Html.EditorFor(model => Model.EditServiceName, new { htmlAttributes = new { @class = "form-control", @Value = Model.ServiceType.Name } })
                @Html.ValidationMessageFor(Model => Model.EditServiceName)

                @Html.LabelFor(model => Model.EditServiceDescription)
                @Html.TextArea("EditServiceDescription", @Model.ServiceType.Description, new { @class = "form-control" })
            </div>

            <span class="btn btn-link cancel-edit-service-type">Cancelar</span>
            <input type="submit" class="btn btn-link" value="Guardar cambios" />
            <span id="@Model.ServiceType.Id" class="btn btn-sm btn-danger delete-service-type">Eliminar</span>
        </div>
    }
</div>